/* Nutrition Label Typography and Flex Layout - Steps 46-57 */

/* 
Step 47: Create a new .indent selector and give it a margin-left property set to 1em 
Step 48: Create a .daily-value p selector to target all of your p elements in the daily-value section. Give this new selector a border-bottom set to 1px solid #888989.
Step 49: The bottom borders under your % Daily Value * and Saturated Fat 1g 5% elements do not extend the full width of the label. Add no-divider to the class for these two elements.
*/

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.label {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}

header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px
}

p {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
}

.bold {
    font-weight: 800;
}

.large {
    height: 10px;
}

.large,
.medium {
    background-color: black;
    border: 0;
}

.medium {
    height: 5px;
}

.small-text {
    font-size: 0.85rem;
}


.calories-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calories-info h2 {
    margin: 0;
}

.left-container p {
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
}

.calories-info span {
    margin: -7px -2px;
    font-size: 2.4em;
    font-weight: 700;
}

.right {
    justify-content: flex-end;
}

/* Step 47 implementation */
.indent {
    margin-left: 1em;
}

.double-indent {
    margin-left: 2em;
}

/* Step 48 mixed with no-divider logic */
.daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
}

.note {
    font-size: 0.6rem;
    margin: 5px 0;
}