<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Employees</title>
</head>

<body>
    <h1>Employee Generator</h1>
    <div class="container">
        <button id="btn-generate">Generate 10 Records</button>
        <button id="btn-clear">Clear All Records</button>
    </div>

</body>
<script>
    document.querySelector('#btn-generate').addEventListener('click', async () => {
        const res = await fetch('/generate');
        const data = await res.json();
        console.log("Generate Result:", data);
        alert(data.message);
    });

    document.querySelector('#btn-clear').addEventListener('click', async () => {
        const res = await fetch('/clear');
        const data = await res.json();
        console.log("Clear Result:", data);
        alert(data.message);
    });
</script>

</html>